<template>
        <div>
        <h1>ورود</h1>
        <form class="login_form">
            <label for="username">نام کاربری</label>
            <input type="text" name="username" autocomplete="username">
            <label for="password">رمز عبور</label>
            <input type="password" name="password" autocomplete="current-password">
            <button type="submit">ورود</button>
        </form>
        <router-link to="/"><p>فراموشی رمز</p></router-link>
        <router-link to="/"><p>قبلا ثبت نام نکرده اید؟</p></router-link>
        </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'AuthPage'
})
</script>
