<template>
        <div>
        <h1>ثبت نام</h1>
        <form class="register_form">
            <label for="username">نام کاربری</label>
            <input type="text" name="uername">
            <label for="password">رمز عبور</label>
            <input type="text" name="password">
            <label for="password-repeat">تکرار رمز عبور</label>
            <input type="text" name="password-repeat">
            <label for="email">ایمیل</label>
            <input type="email" name="email">
            <button>ثبت نام</button>
        </form>
        <router-link to="../login"><p>قبلا ثبت نام کرده اید؟</p></router-link>
        </div>
</template>

<script>
export default defineComponent({
  name: 'AuthPage'
})
</script>
